# Data Wrangling Exercises

### Acquire

#### acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
      -  Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
      - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
      - Only include properties that include a latitude and longitude value.

In [1]:
import acquire

In [2]:
df = acquire.get_zillow_data()

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
df.shape

(77381, 69)

In [5]:
df.describe

<bound method NDFrame.describe of        parcelid  typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0      14297519                     NaN          NaN                  261.0
1      17052889                     NaN          NaN                  261.0
2      14186244                     NaN          NaN                  261.0
3      12177905                     NaN          NaN                  261.0
4      10887214                     NaN          NaN                  266.0
...         ...                     ...          ...                    ...
77574  10833991                     NaN          NaN                  266.0
77575  11000655                     NaN          NaN                  261.0
77577  12773139                     NaN          NaN                  261.0
77576  17239384                     NaN          NaN                  261.0
77578  12826780                     NaN          NaN                  261.0

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                        NaN                  NaN                       NaN
1                        NaN                  NaN                       NaN
2                        NaN                  NaN                       NaN
3                        2.0                  NaN                       NaN
4                        2.0                  NaN                       NaN
...                      ...                  ...                       ...
77574                    2.0                  NaN                       NaN
77575                    2.0                  NaN                       NaN
77577                    2.0                  NaN                       NaN
77576                    NaN                  NaN                       NaN
77578                    2.0                  NaN                       NaN

       airconditioningtypeid       id  basementsqft  ...  airconditioningdesc  \
0                        NaN  1727539           NaN  ...                 None
1                        NaN  1387261           NaN  ...                 None
2                        NaN    11677           NaN  ...                 None
3                        NaN  2288172           NaN  ...                 None
4                        1.0  1970746           NaN  ...              Central
...                      ...      ...           ...  ...                  ...
77574                    1.0  2864704           NaN  ...              Central
77575                    NaN   673515           NaN  ...                 None
77577                    1.0  1843709           NaN  ...              Central
77576                    NaN  2968375           NaN  ...                 None
77578                    NaN  1187175           NaN  ...                 None

       architecturalstyledesc  buildingclassdesc  heatingorsystemdesc     id  \
0                        None               None                 None      0
1                        None               None                 None      1
2                        None               None                 None      2
3                        None               None              Central      3
4                        None               None              Central      4
...                       ...                ...                  ...    ...
77574                    None               None              Central  77608
77575                    None               None              Central  77609
77577                    None               None              Central  77611
77576                    None               None                 None  77610
77578                    None               None              Central  77612

       logerror  transactiondate        propertylandusedesc  storydesc  \
0      0.025595       2017-01-01  Single Family Residential       None
1      0.055619       2017-01-01  Single Family Residential       None
2      0.005383       2017-01-01  Single Family Residential       None
3     -0.103410       2017-01-01  Single Family Residential       None
4      0.006940       2017-01-01                Condominium       None
...         ...              ...                        ...        ...
77574 -0.002245       2017-09-20                Condominium       None
77575  0.020615       2017-09-20  Single Family Residential       None
77577  0.037129       2017-09-21  Single Family Residential       None
77576  0.013209       2017-09-21  Single Family Residential       None
77578  0.007204       2017-09-25  Single Family Residential       None

       typeconstructiondesc
0                      None
1                      None
2                      None
3                      None
4                      None
...                     ...
77574                  None
77575                  None
77577                  None
77576                  None
77578                  None

[77381 rows x 69 columns]>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  airconditioningdesc           24953 non-null  object
 60  architecturalstyledesc        206 non-null    object
 61  buildingclassdesc             15 non-null     object
 62  heatingorsystemdesc           49440 non-null  object
 63  id                            77381 non-null  int64
 64  logerror                      77381 non-null  float64
 65  transactiondate               77381 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB

In [9]:
acquire.nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                23    33.33333333333333      2
1                24    34.78260869565217     13
2                25   36.231884057971016     24
3                26    37.68115942028986     65
4                27   39.130434782608695    316
5                28    40.57971014492754    455
6                29   42.028985507246375   5270
7                30    43.47826086956522   3455
8                31   44.927536231884055   9891
9                32     46.3768115942029  12579
10               33    47.82608695652174  14782
11               34   49.275362318840585  13327
12               35    50.72463768115942   5148
13               36    52.17391304347826   5775
14               37    53.62318840579711   3620
15               38   55.072463768115945   1925
16               39    56.52173913043478    285
17               40   57.971014492753625    230
18               41    59.42028985507246     29
19               42    60.86956521739131     23
20               43    62.31884057971014     28
21               44    63.76811594202898     78
22               45    65.21739130434783     50
23               46    66.66666666666666      5
24               47    68.11594202898551      3
25               48    69.56521739130434      3

In [11]:
acquire.nulls_by_col(df)

                        num_rows_missing  percent_rows_missing
parcelid                               0              0.000000
typeconstructiontypeid             77159             99.713108
storytypeid                        77331             99.935385
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid              27941             36.108347
...                                  ...                   ...
logerror                               0              0.000000
transactiondate                        0              0.000000
propertylandusedesc                    0              0.000000
storydesc                          77331             99.935385
typeconstructiondesc               77159             99.713108

[69 rows x 2 columns]