# Data Wrangling Exercises

### Acquire

#### acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
      -  Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
      - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
      - Only include properties that include a latitude and longitude value.

In [1]:
import acquire

In [2]:
df = acquire.get_zillow_data()

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [3]:
df.shape

(77381, 69)

In [4]:
df.describe

<bound method NDFrame.describe of        parcelid  typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0      14297519                     NaN          NaN                  261.0
1      17052889                     NaN          NaN                  261.0
2      14186244                     NaN          NaN                  261.0
3      12177905                     NaN          NaN                  261.0
4      10887214                     NaN          NaN                  266.0
...         ...                     ...          ...                    ...
77574  10833991                     NaN          NaN                  266.0
77575  11000655                     NaN          NaN                  261.0
77577  12773139                     NaN          NaN                  261.0
77576  17239384                     NaN          NaN                  261.0
77578  12826780                     NaN          NaN                  261.0

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                        NaN                  NaN                       NaN
1                        NaN                  NaN                       NaN
2                        NaN                  NaN                       NaN
3                        2.0                  NaN                       NaN
4                        2.0                  NaN                       NaN
...                      ...                  ...                       ...
77574                    2.0                  NaN                       NaN
77575                    2.0                  NaN                       NaN
77577                    2.0                  NaN                       NaN
77576                    NaN                  NaN                       NaN
77578                    2.0                  NaN                       NaN

       airconditioningtypeid       id  basementsqft  ...  airconditioningdesc  \
0                        NaN  1727539           NaN  ...                 None
1                        NaN  1387261           NaN  ...                 None
2                        NaN    11677           NaN  ...                 None
3                        NaN  2288172           NaN  ...                 None
4                        1.0  1970746           NaN  ...              Central
...                      ...      ...           ...  ...                  ...
77574                    1.0  2864704           NaN  ...              Central
77575                    NaN   673515           NaN  ...                 None
77577                    1.0  1843709           NaN  ...              Central
77576                    NaN  2968375           NaN  ...                 None
77578                    NaN  1187175           NaN  ...                 None

       architecturalstyledesc  buildingclassdesc  heatingorsystemdesc     id  \
0                        None               None                 None      0
1                        None               None                 None      1
2                        None               None                 None      2
3                        None               None              Central      3
4                        None               None              Central      4
...                       ...                ...                  ...    ...
77574                    None               None              Central  77608
77575                    None               None              Central  77609
77577                    None               None              Central  77611
77576                    None               None                 None  77610
77578                    None               None              Central  77612

       logerror  transactiondate        propertylandusedesc  storydesc  \
0      0.025595       2017-01-01  Single Family Residential       None
1      0.055619       2017-01-01  Single Family Residential       None
2      0.005383       2017-01-01  Single Family Residential       None
3     -0.103410       2017-01-01  Single Family Residential       None
4      0.006940       2017-01-01                Condominium       None
...         ...              ...                        ...        ...
77574 -0.002245       2017-09-20                Condominium       None
77575  0.020615       2017-09-20  Single Family Residential       None
77577  0.037129       2017-09-21  Single Family Residential       None
77576  0.013209       2017-09-21  Single Family Residential       None
77578  0.007204       2017-09-25  Single Family Residential       None

       typeconstructiondesc
0                      None
1                      None
2                      None
3                      None
4                      None
...                     ...
77574                  None
77575                  None
77577                  None
77576                  None
77578                  None

[77381 rows x 69 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  airconditioningdesc           24953 non-null  object
 60  architecturalstyledesc        206 non-null    object
 61  buildingclassdesc             15 non-null     object
 62  heatingorsystemdesc           49440 non-null  object
 63  id                            77381 non-null  int64
 64  logerror                      77381 non-null  float64
 65  transactiondate               77381 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB

In [6]:
df.bedroomcnt.value_counts()

3.0     30362
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

In [7]:
df.bathroomcnt.value_counts()

2.0     31485
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
13.0        1
18.0        1
Name: bathroomcnt, dtype: int64

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [8]:
acquire.nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                23    33.33333333333333      2
1                24    34.78260869565217     13
2                25   36.231884057971016     24
3                26    37.68115942028986     65
4                27   39.130434782608695    316
5                28    40.57971014492754    455
6                29   42.028985507246375   5270
7                30    43.47826086956522   3455
8                31   44.927536231884055   9891
9                32     46.3768115942029  12579
10               33    47.82608695652174  14782
11               34   49.275362318840585  13327
12               35    50.72463768115942   5148
13               36    52.17391304347826   5775
14               37    53.62318840579711   3620
15               38   55.072463768115945   1925
16               39    56.52173913043478    285
17               40   57.971014492753625    230
18               41    59.42028985507246     29
19               42    60.86956521739131     23
20               43    62.31884057971014     28
21               44    63.76811594202898     78
22               45    65.21739130434783     50
23               46    66.66666666666666      5
24               47    68.11594202898551      3
25               48    69.56521739130434      3

In [9]:
acquire.nulls_by_col(df)

                        num_rows_missing  percent_rows_missing
parcelid                               0              0.000000
typeconstructiontypeid             77159             99.713108
storytypeid                        77331             99.935385
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid              27941             36.108347
...                                  ...                   ...
logerror                               0              0.000000
transactiondate                        0              0.000000
propertylandusedesc                    0              0.000000
storydesc                          77331             99.935385
typeconstructiondesc               77159             99.713108

[69 rows x 2 columns]

### Prepare
Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [10]:
acquire.handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.75)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,heatingorsystemdesc,id,logerror,transactiondate,propertylandusedesc
0,14297519,261.0,NaN,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,None,0,0.025595,2017-01-01,Single Family Residential
1,17052889,261.0,NaN,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,464000.0,2016.0,376000.0,5672.48,6.111001e+13,None,1,0.055619,2017-01-01,Single Family Residential
2,14186244,261.0,NaN,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,564778.0,2016.0,479489.0,6488.30,6.059022e+13,None,2,0.005383,2017-01-01,Single Family Residential
3,12177905,261.0,2.0,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,145143.0,2016.0,36225.0,1777.51,6.037300e+13,Central,3,-0.103410,2017-01-01,Single Family Residential
4,10887214,266.0,2.0,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,119407.0,2016.0,45726.0,1533.89,6.037124e+13,Central,4,0.006940,2017-01-01,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,10833991,266.0,2.0,2864704,3.0,3.0,8.0,3.0,1741.0,1741.0,...,379000.0,2016.0,114000.0,4685.34,6.037132e+13,Central,77608,-0.002245,2017-09-20,Condominium
77575,11000655,261.0,2.0,673515,2.0,2.0,6.0,2.0,1286.0,1286.0,...,354621.0,2016.0,283704.0,4478.43,6.037101e+13,Central,77609,0.020615,2017-09-20,Single Family Residential
77577,12773139,261.0,2.0,1843709,1.0,3.0,4.0,1.0,1032.0,1032.0,...,49546.0,2016.0,16749.0,876.43,6.037434e+13,Central,77611,0.037129,2017-09-21,Single Family Residential
77576,17239384,261.0,NaN,2968375,2.0,4.0,NaN,2.0,1612.0,1612.0,...,67205.0,2016.0,16522.0,1107.48,6.111008e+13,None,77610,0.013209,2017-09-21,Single Family Residential
77578,12826780,261.0,2.0,1187175,2.0,3.0,6.0,2.0,1762.0,1762.0,...,522000.0,2016.0,382000.0,6317.15,6.037503e+13,Central,77612,0.007204,2017-09-25,Single Family Residential

In [11]:
df.isna().sum()

parcelid                      0
typeconstructiontypeid    77159
storytypeid               77331
propertylandusetypeid         0
heatingorsystemtypeid     27941
                          ...
logerror                      0
transactiondate               0
propertylandusedesc           0
storydesc                 77331
typeconstructiondesc      77159
Length: 69, dtype: int64

In [12]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [13]:
df.propertylandusetypeid.value_counts()

261.0    52320
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64

Decide how to handle the remaining missing values: 
(Suggestions below)
    
   - Fill with constant value.
   - Impute with mean, median, mode.
   - Drop row/column

In [14]:
#Dropping any property type that is not for a single family or residential
#Propertytypeids = 31, 246,247,248,260,267,269,275
#Keeping 261, 263,264,265,266
index_names = df[ df['propertylandusetypeid'] == 267].index
index_names

Int64Index([ 1744,  2437,  3796,  7458,  9599, 14786, 15845, 16030, 16108,
            21970, 24665, 24663, 25121, 27606, 28391, 33133, 36355, 39386,
            44957, 52933, 52310, 57162, 58646, 59335, 61582, 71108, 72051,
            72830, 73921],
           dtype='int64')

In [15]:
df.drop(index_names, inplace = True)

In [16]:
df.propertylandusetypeid.value_counts()

261.0    52320
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64

In [17]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [18]:
df.isna().sum()

parcelid                      0
typeconstructiontypeid    77130
storytypeid               77302
propertylandusetypeid         0
heatingorsystemtypeid     27941
                          ...
logerror                      0
transactiondate               0
propertylandusedesc           0
storydesc                 77302
typeconstructiondesc      77130
Length: 69, dtype: int64

In [19]:
df.typeconstructiontypeid.value_counts()

6.0     219
4.0       1
13.0      1
10.0      1
Name: typeconstructiontypeid, dtype: int64

In [20]:
df.typeconstructiondesc.value_counts()

Frame       219
Metal         1
Concrete      1
Masonry       1
Name: typeconstructiondesc, dtype: int64

In [21]:
df.storytypeid.value_counts()

7.0    50
Name: storytypeid, dtype: int64

In [22]:
df.storydesc.value_counts()

Basement    50
Name: storydesc, dtype: int64

In [23]:
df.heatingorsystemdesc.value_counts()

Central       33531
Floor/Wall    14055
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

In [24]:
df.typeconstructiondesc.value_counts()

Frame       219
Metal         1
Concrete      1
Masonry       1
Name: typeconstructiondesc, dtype: int64

In [25]:
df.shape

(77352, 69)

In [26]:
acquire.nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                23    33.33333333333333      2
1                24    34.78260869565217     13
2                25   36.231884057971016     24
3                26    37.68115942028986     65
4                27   39.130434782608695    316
5                28    40.57971014492754    455
6                29   42.028985507246375   5269
7                30    43.47826086956522   3455
8                31   44.927536231884055   9879
9                32     46.3768115942029  12577
10               33    47.82608695652174  14772
11               34   49.275362318840585  13323
12               35    50.72463768115942   5148
13               36    52.17391304347826   5775
14               37    53.62318840579711   3620
15               38   55.072463768115945   1925
16               39    56.52173913043478    285
17               40   57.971014492753625    230
18               41    59.42028985507246     29
19               42    60.86956521739131     23
20               43    62.31884057971014     28
21               44    63.76811594202898     78
22               45    65.21739130434783     50
23               46    66.66666666666666      5
24               47    68.11594202898551      3
25               48    69.56521739130434      3

In [27]:
import pandas as pd
nulls = pd.DataFrame(df.isna().sum())
nulls[nulls>0].value_counts()

77302.0    3
77337.0    2
609.0      2
74467.0    2
52407.0    2
51878.0    2
27941.0    2
71329.0    2
77130.0    2
77146.0    2
76966.0    1
76888.0    1
69076.0    1
76485.0    1
76278.0    1
75814.0    1
74964.0    1
77180.0    1
77282.0    1
77311.0    1
74343.0    1
76738.0    1
1.0        1
67256.0    1
62317.0    1
5.0        1
50.0       1
112.0      1
196.0      1
244.0      1
263.0      1
1471.0     1
3632.0     1
8239.0     1
26818.0    1
27050.0    1
27709.0    1
46485.0    1
59792.0    1
2.0        1
61222.0    1
dtype: int64

In [28]:
df.isna().sum()

parcelid                      0
typeconstructiontypeid    77130
storytypeid               77302
propertylandusetypeid         0
heatingorsystemtypeid     27941
                          ...
logerror                      0
transactiondate               0
propertylandusedesc           0
storydesc                 77302
typeconstructiondesc      77130
Length: 69, dtype: int64

In [29]:
cols_to_remove = ['typeconstructiontypeid', 'storytypeid','storydesc','typeconstructiondesc']
df = acquire.remove_columns(df, cols_to_remove)

In [30]:
df.isna().sum()

parcelid                        0
propertylandusetypeid           0
heatingorsystemtypeid       27941
buildingclasstypeid         77337
architecturalstyletypeid    77146
                            ...
heatingorsystemdesc         27941
id                              0
logerror                        0
transactiondate                 0
propertylandusedesc             0
Length: 65, dtype: int64

In [31]:
cols_to_remove = ['heatingorsystemtypeid','architecturalstyletypeid']
df = acquire.remove_columns(df, cols_to_remove)

In [32]:
df.isna().sum()

parcelid                     0
propertylandusetypeid        0
buildingclasstypeid      77337
airconditioningtypeid    52407
id                           0
                         ...
heatingorsystemdesc      27941
id                           0
logerror                     0
transactiondate              0
propertylandusedesc          0
Length: 63, dtype: int64

In [33]:
cols_to_remove = ['buildingclasstypeid']
df = acquire.remove_columns(df, cols_to_remove)

In [34]:
df.isna().sum()

parcelid                     0
propertylandusetypeid        0
airconditioningtypeid    52407
id                           0
basementsqft             77302
                         ...
heatingorsystemdesc      27941
id                           0
logerror                     0
transactiondate              0
propertylandusedesc          0
Length: 62, dtype: int64

In [35]:
cols_to_remove = ['basementsqft']
df = acquire.remove_columns(df, cols_to_remove)

In [36]:
df.isna().sum()

parcelid                     0
propertylandusetypeid        0
airconditioningtypeid    52407
id                           0
bathroomcnt                  0
                         ...
heatingorsystemdesc      27941
id                           0
logerror                     0
transactiondate              0
propertylandusedesc          0
Length: 61, dtype: int64

In [37]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
airconditioningtypeid           52407
buildingqualitytypeid           27709
calculatedbathnbr                 609
decktypeid                      76738
finishedfloor1squarefeet        71329
calculatedfinishedsquarefeet      196
finishedsquarefeet12             3632
finishedsquarefeet13            77311
finishedsquarefeet15            74343
finishedsquarefeet50            71329
finishedsquarefeet6             76966
fireplacecnt                    69076
fullbathcnt                       609
garagecarcnt                    51878
garagetotalsqft                 51878
hashottuborspa                  75814
lotsizesquarefeet                8239
poolcnt                         61222
poolsizesum                     76485
pooltypeid10                    76888
pooltypeid2                     76278
pooltypeid7                     62317
propertyzoningdesc              27050
regionidcity                     1471
regionidneighborhood            46485
regionidzip                        50
threequarterbathnbr             67256
unitcnt                         26818
yardbuildingsqft17              74964
yardbuildingsqft26              77282
yearbuilt                         263
numberofstories                 59792
fireplaceflag                   77180
structuretaxvaluedollarcnt        112
taxvaluedollarcnt                   1
landtaxvaluedollarcnt               2
taxamount                           5
taxdelinquencyflag              74467
taxdelinquencyyear              74467
censustractandblock               244
airconditioningdesc             52407
architecturalstyledesc          77146
buildingclassdesc               77337
heatingorsystemdesc             27941
dtype: int64

In [38]:
df = acquire.handle_missing_values(df, prop_required_columns=0.5, prop_required_row=0.75)

In [39]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
buildingqualitytypeid           27554
calculatedbathnbr                 454
calculatedfinishedsquarefeet       41
finishedsquarefeet12             3477
fullbathcnt                       454
lotsizesquarefeet                8157
propertyzoningdesc              26930
regionidcity                     1459
regionidzip                        45
unitcnt                         26663
yearbuilt                         109
structuretaxvaluedollarcnt         96
taxvaluedollarcnt                   1
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               224
heatingorsystemdesc             27786
dtype: int64

In [40]:
df.heatingorsystemdesc.value_counts()

Central       33531
Floor/Wall    14055
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

In [41]:
df.shape

(77197, 34)

In [42]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77197 entries, 0 to 77578
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77197 non-null  int64
 1   propertylandusetypeid         77197 non-null  float64
 2   id                            77197 non-null  int64
 3   bathroomcnt                   77197 non-null  float64
 4   bedroomcnt                    77197 non-null  float64
 5   buildingqualitytypeid         49643 non-null  float64
 6   calculatedbathnbr             76743 non-null  float64
 7   calculatedfinishedsquarefeet  77156 non-null  float64
 8   finishedsquarefeet12          73720 non-null  float64
 9   fips                          77197 non-null  float64
 10  fullbathcnt                   76743 non-null  float64
 11  latitude                      77197 non-null  float64
 12  longitude                     77197 non-null  float64
 13  lotsizesquarefeet             69040 non-null  float64
 14  propertycountylandusecode     77197 non-null  object
 15  propertyzoningdesc            50267 non-null  object
 16  rawcensustractandblock        77197 non-null  float64
 17  regionidcity                  75738 non-null  float64
 18  regionidcounty                77197 non-null  float64
 19  regionidzip                   77152 non-null  float64
 20  roomcnt                       77197 non-null  float64
 21  unitcnt                       50534 non-null  float64
 22  yearbuilt                     77088 non-null  float64
 23  structuretaxvaluedollarcnt    77101 non-null  float64
 24  taxvaluedollarcnt             77196 non-null  float64
 25  assessmentyear                77197 non-null  float64
 26  landtaxvaluedollarcnt         77196 non-null  float64
 27  taxamount                     77192 non-null  float64
 28  censustractandblock           76973 non-null  float64
 29  heatingorsystemdesc           49411 non-null  object
 30  id                            77197 non-null  int64
 31  logerror                      77197 non-null  float64
 32  transactiondate               77197 non-null  object
 33  propertylandusedesc           77197 non-null  object
dtypes: float64(26), int64(3), object(5)
memory usage: 20.6+ MB

In [44]:
imp.fit_transform(df)

array([[14297519, 261.0, 1727539, ..., 0.025594901758400002,
        '2017-01-01', 'Single Family Residential'],
       [17052889, 261.0, 1387261, ..., 0.0556190874015, '2017-01-01',
        'Single Family Residential'],
       [14186244, 261.0, 11677, ..., 0.0053828530468900005, '2017-01-01',
        'Single Family Residential'],
       ...,
       [12773139, 261.0, 1843709, ..., 0.037128786701000005,
        '2017-09-21', 'Single Family Residential'],
       [17239384, 261.0, 2968375, ..., 0.013208613009200001,
        '2017-09-21', 'Single Family Residential'],
       [12826780, 261.0, 1187175, ..., 0.007203938731710001,
        '2017-09-25', 'Single Family Residential']], dtype=object)

In [45]:
missing = df.isnull().sum()
print('-----')
print(missing[missing > 0])

-----
buildingqualitytypeid           27554
calculatedbathnbr                 454
calculatedfinishedsquarefeet       41
finishedsquarefeet12             3477
fullbathcnt                       454
lotsizesquarefeet                8157
propertyzoningdesc              26930
regionidcity                     1459
regionidzip                        45
unitcnt                         26663
yearbuilt                         109
structuretaxvaluedollarcnt         96
taxvaluedollarcnt                   1
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               224
heatingorsystemdesc             27786
dtype: int64

In [46]:
df.info

<bound method DataFrame.info of        parcelid  propertylandusetypeid       id  bathroomcnt  bedroomcnt  \
0      14297519                  261.0  1727539          3.5         4.0
1      17052889                  261.0  1387261          1.0         2.0
2      14186244                  261.0    11677          2.0         3.0
3      12177905                  261.0  2288172          3.0         4.0
4      10887214                  266.0  1970746          3.0         3.0
...         ...                    ...      ...          ...         ...
77574  10833991                  266.0  2864704          3.0         3.0
77575  11000655                  261.0   673515          2.0         2.0
77577  12773139                  261.0  1843709          1.0         3.0
77576  17239384                  261.0  2968375          2.0         4.0
77578  12826780                  261.0  1187175          2.0         3.0

       buildingqualitytypeid  calculatedbathnbr  calculatedfinishedsquarefeet  \
0                        NaN                3.5                        3100.0
1                        NaN                1.0                        1465.0
2                        NaN                2.0                        1243.0
3                        8.0                3.0                        2376.0
4                        8.0                3.0                        1312.0
...                      ...                ...                           ...
77574                    8.0                3.0                        1741.0
77575                    6.0                2.0                        1286.0
77577                    4.0                1.0                        1032.0
77576                    NaN                2.0                        1612.0
77578                    6.0                2.0                        1762.0

       finishedsquarefeet12    fips  ...  taxvaluedollarcnt  assessmentyear  \
0                    3100.0  6059.0  ...          1023282.0          2016.0
1                    1465.0  6111.0  ...           464000.0          2016.0
2                    1243.0  6059.0  ...           564778.0          2016.0
3                    2376.0  6037.0  ...           145143.0          2016.0
4                    1312.0  6037.0  ...           119407.0          2016.0
...                     ...     ...  ...                ...             ...
77574                1741.0  6037.0  ...           379000.0          2016.0
77575                1286.0  6037.0  ...           354621.0          2016.0
77577                1032.0  6037.0  ...            49546.0          2016.0
77576                1612.0  6111.0  ...            67205.0          2016.0
77578                1762.0  6037.0  ...           522000.0          2016.0

       landtaxvaluedollarcnt  taxamount censustractandblock  \
0                   537569.0   11013.72        6.059063e+13
1                   376000.0    5672.48        6.111001e+13
2                   479489.0    6488.30        6.059022e+13
3                    36225.0    1777.51        6.037300e+13
4                    45726.0    1533.89        6.037124e+13
...                      ...        ...                 ...
77574               114000.0    4685.34        6.037132e+13
77575               283704.0    4478.43        6.037101e+13
77577                16749.0     876.43        6.037434e+13
77576                16522.0    1107.48        6.111008e+13
77578               382000.0    6317.15        6.037503e+13

      heatingorsystemdesc     id  logerror  transactiondate  \
0                    None      0  0.025595       2017-01-01
1                    None      1  0.055619       2017-01-01
2                    None      2  0.005383       2017-01-01
3                 Central      3 -0.103410       2017-01-01
4                 Central      4  0.006940       2017-01-01
...                   ...    ...       ...              ...
77574             Central  77608 -0.002245       2017-09-20
77575             Central  77609  0.020615       2017-09-20
77577             Central  77611  0.037129       2017-09-21
77576                None  77610  0.013209       2017-09-21
77578             Central  77612  0.007204       2017-09-25

             propertylandusedesc
0      Single Family Residential
1      Single Family Residential
2      Single Family Residential
3      Single Family Residential
4                    Condominium
...                          ...
77574                Condominium
77575  Single Family Residential
77577  Single Family Residential
77576  Single Family Residential
77578  Single Family Residential

[77197 rows x 34 columns]>

In [49]:
df.shape

(77197, 34)